{% extends 'base.html.twig' %}

{% block title %}Jeu de cartes{% endblock %}

{% block body %}
<div class="container mt-4 text-center">
    <div class="row mx-auto">
        <div class="card mb-4">
            <a class="btn btn-primary" href="{{ path("game") }}">Redistribuer</a>
        </div>
    </div>

    <div class="jumbotron row pt-1 pb-1">
        <div class="row mb-2">
            <h5>Ordre alétoire des couleurs</h5>
        </div>
        <div class="row">
            {% for color in colors %}
                <div class="col-md-1">
                    <div class="card mb-4">
                        <img src="{{ asset('images/colors/' ~ color|lower ~ '.png' ) }}" style="width: 100%; height: auto;">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="jumbotron row pt-1 pb-1">
        <div class="row mb-2">
            <h5>Ordre alétoire des valeurs</h5>
        </div>
        <div class="d-flex flex-row">
            {% for value in values %}
                <div class="card ml-2 mb-4">
                    <img src="{{ asset('images/values/' ~ value|lower ~ 'spades.png') }}" style="width: 100%; height: auto;">
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="jumbotron row pt-1 pb-1">
        <div class="row mb-2">
            <h5>Main aléatoire</h5>
        </div>
        <div class="row">
            {% for card in notSortedCards %}
                <div class="col-md-1">
                    <div class="card mb-4">
                        <img src="{{ asset('images/cards/' ~ card.image|lower ~ '.png') }}" style="width: 100%; height: auto;">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="jumbotron row pt-1 pb-1">
        <div class="row mb-2">
            <h5>Main ordonnée</h5>
        </div>
        <div class="row">
            {% for card in sortedCards %}
                <div class="col-md-1">
                    <div class="card mb-4">
                        <img src="{{ asset('images/cards/' ~ card.image|lower ~ '.png') }}" style="width: 100%; height: auto;">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
